[Unit]
Description=A music player which reads NFC tags to play music
Wants=spotifyd.service

[Service]
User=pi
ExecStart=/home/pi/Documents/Greg/BoomBox/src/main.py
WorkingDirectory=/home/pi/Documents/Greg/BoomBox
Restart=on-failure

[Install]
WantedBy=default.target
